body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: skyblue;
}
#container{
    position: fixed;
    bottom: 10px;
    right:10px;
}
.toast{
    padding : 1rem;
    /* background:  blue; */
    color: white;
    font-size: large;
    border-radius: 5px;
    margin: .5rem;
    border: 2px solid m;
}
button{
    background: blue;
    color: white;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 8%;
    outline: none;
}

